/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.between {
  justify-content: space-between;
}

.error {
  align-self: center;
  color: #e76a8f;
  font-style: italic;
  font-size: 11px;
  padding: 12px;
}

button {
  padding: 6px 10px;
  color: #ffffff;
  background-color: #00687a;
  border: none;
  margin-left: 5px;
  outline: none;
}
button:hover {
  background-color: #465e62;
}